@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <span class="navbar-text small text-muted">
                This build is in the automated system just for testing phase @@ Fisal Copyright
            </span>
        </div>

        <article class="content px-4">
            @Body
        </article>

        <footer class="text-center mt-4 mb-4 text-muted">
            &copy; 2025 Fisal
        </footer>
    </main>
</div>
